<header class="header">
    <div class="container-fluid header__1st-line">
        <div class="header__content">
            <a class="logo" href="/home"><img class="logo__img" src="/img/logo.png" alt="Logo Dirks"></a>
            <div class="header__icons">
                <p class="header__user">{{user}}</p>
                <a href="/profile" class="header__link" title="Zarządzanie kontem">
                    <img src="/icons/header/user.svg" alt="user">
                </a>
                {{#if admin}}
                <a href="/admin" class="header__link" title="Panel administracyjny">
                    <img src="/icons/header/admin.svg" alt="admin">
                    {{#if qtyUnconfirmedUsers}}
                    <div class="header__link-qty">{{qtyUnconfirmedUsers}}</div>
                    {{/if}}
                </a>
                {{/if}}
                {{!-- {{#if passOut}}
                {{else}}
                <a href="/profileOutlook" class="header__link" title="Brak połączenia konta z Outlook">
                    <img src="/icons/header/outlook-nok.svg" alt="outlook">
                </a>
                {{/if}} --}}
                <a href="/logout" class="header__link" title="Wyloguj się">
                    <img src="/icons/header/logout.svg" alt="logout">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid header__breadcrumbs">
        <a class="header__breadcrumbs__home" href="/home"><img src="/icons/home.svg" alt="Home"></a>
        {{#if breadcrumbs}}
        {{#each breadcrumbs}}
        <span>&mdash;</span>
        <a class="header__breadcrumbs__link" href="{{this.href}}">{{this.name}}</a>
        {{/each}}
        {{/if}}
        <span class="header__breadcrumbs__this-page">&mdash;</span>
        <span class="header__breadcrumbs__this-page">{{pageHeader}}</span>
    </div>
</header>