<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><i>Dzień dobry,</i></p>
    <p><i>Otrzymałeś tę wiadomość, ponieważ jesteś administratorem aplikacji WRO Dirks App.</i></p>
    <hr style="width: 100%; text-align: left;">
    <span>
        <br>Użytkownik {{user}} ({{firstName}} {{lastName}}) założył konto w aplikacji.
        <br>Email: <a href="mailto:{{email}}">{{email}}</a>
    </span>
    <p>Jako administrator możesz <a href="{{appLink}}">potwierdzić konto i przypisać odpowiednie uprawnienia.</a></p>
    <hr style="width: 100%; text-align: left;">
    <span style="color: rgb(31, 73, 125)">
        <br>Pozdrawiamy
        <br><b>WRO DIRKS APPLICATION</b>
    </span>
</body>
</html>